@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 18px;
}

header {
  background-image: url(./images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: -9px;
}

.title-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  width: 100%;
}

.add-task-container {
  padding: 0 1rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.task-container {
  padding: 0 1rem;
  background-color: white;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  max-width: 30rem;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #e3e4f1;
}

input[type="text"] {
  font-size: 0.666rem;
  border: none;
  height: 2.66666666667rem;
  width: 100%;
}

input[type="text"]::placeholder {
  color: #9495a5;
}

input:focus {
  outline: none;
}

@media (min-width: 768px) {
  header {
    height: 300px;
    background-image: url(./images/bg-desktop-light.jpg);
    padding-top: 3rem;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  .add-task-container {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}
