@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 18px;
}

body {
  background: hsl(0, 0%, 98%);
}

button {
  border: none;
  background: none;
  font-size: 0.66rem;
  color: #9495a5;
}

button:hover {
  cursor: pointer;
}

header {
  background-image: url(./images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: -9px;
}

.container {
  padding: 0 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 30rem;
  min-height: 2.66rem;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

.title-toggle {
  justify-content: space-between;
  background: none;
  padding: 0;
}

.add-task {
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: -4rem;
}

.task {
  border-bottom: 1px solid #e3e4f1;
  justify-content: start;
}

.task p {
  font-size: 0.66rem;
  flex-grow: 1;
  color: #494c6b;
}

.count-clear {
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.filter {
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
}

input[type="text"] {
  font-size: 0.66rem;
  border: none;
  height: 2.66rem;
  width: 100%;
}

.item-count {
  font-size: 0.66rem;
  color: #9495a5;
}

input[type="text"]::placeholder {
  color: #9495a5;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.tasks-container {
  filter: drop-shadow(0px 0px 20px hsl(233, 11%, 84%));
  padding: 0 1rem;
}

.cross:hover {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 100px;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox:hover {
  border-color: #00b3ee;
  cursor: pointer;
}

.checkbox:checked + .custom-checkbox {
  background: rgb(85, 221, 255);
  background: -moz-linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  background: linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  
  border-image: 
    linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  border-image: 
    -moz-linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  border-image: 
    -webkit-linear-gradient(0deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
  
  border-width: 0px;
  border-style: solid;
}


@media (min-width: 768px) {
  header {
    height: 300px;
    background-image: url(./images/bg-desktop-light.jpg);
    padding-top: 3rem;
  }

  .container {
    min-height: 3.55rem;
  }

  .task p {
    font-size: 1rem;
  }

  .add-task {
    margin-top: -8rem;
    margin-bottom: 1.5rem;
  }

  .item-count {
    font-size: 0.875rem;
  }

  button {
    font-size: 0.875rem;
  }

  input[type="text"] {
    font-size: 1rem;
  }
}
